.button {
    width: 153px;
    height: 32px;
    text-align: center;
    background-color:$main-color;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    &_main {
        margin-top: 74px;
        margin-bottom: 8px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}