.form {
    display: flex;
    flex-direction: column;
    width: 303px;
    margin-top: 36px;
    input {
        height: 54px;
        margin-bottom: 13px;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        &:nth-child(3) {
            margin-bottom: 17px;
        }
    }
    &-modal {
        margin: 0 auto;
        margin-top: 26px;
    }
}

