.response {
    min-height: 963px;
    padding-bottom: 48px;
    &__img {
        height: 169px;
        width: 169px;
        margin-right: 60px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
        text-transform: uppercase;  
    }
    &__item {
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
    }
    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 14px;
        color: #0D0D0D;
    }
    &__sub {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 9px;
        color: #646464;
    }
    &__text {
        margin-top: 10px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #0D0D0D;
    }
}