.tabs {
    display: block;
    min-height: 1182px;
    padding-bottom: 60px;
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: $benefits_text;
    }
    &__nav {
        margin-top: 46px;
        display: flex;
        list-style-type: none;
        justify-content: center;
    }
    &__item {
        cursor: pointer;
        display: block;
        height: 52px;
        width: 222px;
        border: 2px solid #D0D0D0;
        color: #6B6B6B;
        transform: skewX(-25deg);
        margin: 0 5px;
        &:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border: none;
        }
        div {
            transform: skewX(25deg);
            font-style: normal;
            line-height: 52px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
        }
        &-active {
            background-color: $main-color;
            color: #FFFFFF;
        }
    }
}